<ul class="social">
  <li>
    <a href="https://github.com/cpitt" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </li>
  <li>
    <a href="http://linkedin.com/in/cameronpitt" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </li>
  <li>
    <a href="http://twitter.com/CameronPitt" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="http://jsfiddle.net/user/cpitt" target="_blank">
      <i class="fa fa-jsfiddle"></i>
    </a>
  </li>
</ul>
